<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jhtwl.googlestore">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".Base.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.OtherActivity" />
        <activity android:name=".Activity.NotifictionActivity" />
        <activity android:name=".Activity.TabActivity" />
        <activity android:name=".Activity.TouchActivity" />
        <activity android:name=".Activity.ViewHolderActivity" />
        <activity android:name=".Activity.AsyncTaskActivity" />
        <activity android:name=".Activity.KindOfActivity" />
        <activity android:name=".Activity.Launcher_Activity" />
        <activity android:name=".Activity.ExpandableListTestActivity" />
        <activity android:name=".Activity.PreferenceTestActivity" />
        <activity android:name=".Activity.LifeStyleActivity" />
        <activity android:name=".Activity.ImplicitActivity">
            <intent-filter>
                <action android:name="com.jhtwl.googlestore.startImplicitActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.jhtwl.googlestore.addCategory" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.CanvasActivity" />
        <activity android:name=".Activity.AnimationActivity" />
        <activity android:name=".Activity.SaveFileActivity" />
        <activity android:name=".Activity.ObservableActivity" />
        <activity android:name=".Activity.GestureActivity" />
        <activity android:name=".Activity.ServicesActivity" />

        <service
            android:name=".Services.MyService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".Services.BindService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".Activity.BroadcastActivity" />

        <!-- <receiver -->
        <!-- android:name=".Broadcast.MyReceiver" -->
        <!-- android:enabled="true" -->
        <!-- android:exported="true"> -->
        <!-- <intent-filter android:priority="20"> -->
        <!-- <action android:name="com.jhtwl.googlestore.mybroadsast" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <receiver
            android:name=".Broadcast.SecondReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="10">
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>
        </receiver>

        <activity android:name=".Activity.WebviewActivity"></activity>
    </application>

</manifest>